<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SimpleSuite"  >
    <test name="ClassTest" thread-count="2" parallel="methods">
        <classes>
            <class  name="homework.lesson2.Sandbox"/>
        </classes>
    </test>

    <!--<test name="PackageTest">-->
        <!--<packages>-->
            <!--<package name="homework.lesson2>-->
        <!--</packages>-->
    <!--</test>-->

    <!--<test name="GroupsTest">-->
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="group1"/>-->
                <!--<exclude name="group2"/>-->
            <!--</run>-->
        <!--</groups>-->
        <!--<packages>-->
            <!--<package name="homework.lesson2>-->
        <!--</packages>-->
        <!--<classes>-->
            <!--<class name="homework.lesson2andbox"/>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="Group2Test">-->
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="group2"/>-->
            <!--</run>-->
        <!--</groups>-->
    <!--<classes>-->
        <!--<class name="homework.lesson2andbox"/>-->
    <!--</classes>-->
    <!--</test>-->
</suite>